:root{
    --dark:#374151;
    --darker:#1F2937;
    --gray:#7A869A;
    --darkest:#111827;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#8B5Cf6;

}

*{
    box-sizing:border-box;
    margin:0;
    font-family:'fira sans',sans-serif;

}

body{
    display:flex;
    flex-direction:column;
    background:var(--dark);
    color: white;
}

header{
    padding:2rem 1rem;
    max-width:800px;
    width:100%;
    margin: 0 auto;
}
header h1{
   font-size:2.5rem;
   font-weight:300;
   color:var(--gray);
   margin-bottom:1rem;
}

#new-form{
    display:flex;

}

input,button{
    appearance: none;
    border:none;
    outline:none;
    background:none;
}

#new-input{
    flex:1 1 0%;
    background-color:var(--darker);
    padding:1rem;
    border-radius:1rem;
    margin-right:1rem;
    color:var(--light);
    font-size: 1.25rem;
}

#new-input::placeholder{
color:var(--gray);
}

#new-submit{
    color: var(--pink);
    font-size:1.25rem;
    font-weight:700;
    background-image: linear-gradient(to right,var(--pink),
    var(--purple));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    curser:pointer;
    transition:0.4s;
}

#new-submit:hover{
 opacity:0.8;
}

#new-submit:active{
    opacity:0.6;  
}